//公共样式问及看
[class^="icon-"] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .swiper-container {
    width: 100%;
  }
}
//使子代元素垂直居中
.vertical-middle {
  height: 100%;
  &:before {
    content: "";
    display: inline-block;
    visibility: hidden;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}
//使子代元素水平居中
.center {
  text-align: center;
  > * {
    display: inline-block;
  }
}
//过渡动画
.animate {
  transition: all 0.3s ease-in-out;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
//清楚浮动
.clearfix {
  zoom: 1;
  &:after {
    content: "";
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
  }
}
